/* FC Webicons by Fairhead Creative http://fairheadcreative.com */

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* Behance */
.no-svg .fc-webicon.behance { background: url("fairhead-icons/fc-webicon-behance-m.png"); }
.no-svg .fc-webicon.behance.large { background: url("fairhead-icons/fc-webicon-behance.png"); }
.no-svg .fc-webicon.behance.small { background: url("fairhead-icons/fc-webicon-behance-s.png"); }
.svg .fc-webicon.behance { background: url("fairhead-icons/fc-webicon-behance.svg"); }

/* Creative Cloud */
.no-svg .fc-webicon.creativecloud { background: url("fairhead-icons/fc-webicon-creativecloud-m.png"); }
.no-svg .fc-webicon.creativecloud.large { background: url("fairhead-icons/fc-webicon-creativecloud.png"); }
.no-svg .fc-webicon.creativecloud.small { background: url("fairhead-icons/fc-webicon-creativecloud-s.png"); }
.svg .fc-webicon.creativecloud { background: url("fairhead-icons/fc-webicon-creativecloud.svg"); }

/* Dribbble */
.no-svg .fc-webicon.dribbble { background: url("fairhead-icons/fc-webicon-dribbble-m.png"); }
.no-svg .fc-webicon.dribbble.large { background: url("fairhead-icons/fc-webicon-dribbble.png"); }
.no-svg .fc-webicon.dribbble.small { background: url("fairhead-icons/fc-webicon-dribbble-s.png"); }
.svg .fc-webicon.dribbble { background: url("fairhead-icons/fc-webicon-dribbble.svg"); }

/* Dropbox */
.no-svg .fc-webicon.dropbox { background: url("fairhead-icons/fc-webicon-dropbox-m.png"); }
.no-svg .fc-webicon.dropbox.large { background: url("fairhead-icons/fc-webicon-dropbox.png"); }
.no-svg .fc-webicon.dropbox.small { background: url("fairhead-icons/fc-webicon-dropbox-s.png"); }
.svg .fc-webicon.dropbox { background: url("fairhead-icons/fc-webicon-dropbox.svg"); }

/* Evernote */
.no-svg .fc-webicon.evernote { background: url("fairhead-icons/fc-webicon-evernote-m.png"); }
.no-svg .fc-webicon.evernote.large { background: url("fairhead-icons/fc-webicon-evernote.png"); }
.no-svg .fc-webicon.evernote.small { background: url("fairhead-icons/fc-webicon-evernote-s.png"); }
.svg .fc-webicon.evernote { background: url("fairhead-icons/fc-webicon-evernote.svg"); }

/* Facebook */
.no-svg .fc-webicon.facebook { background: url("fairhead-icons/fc-webicon-facebook-m.png"); }
.no-svg .fc-webicon.facebook.large { background: url("fairhead-icons/fc-webicon-facebook.png"); }
.no-svg .fc-webicon.facebook.small { background: url("fairhead-icons/fc-webicon-facebook-s.png"); }
.svg .fc-webicon.facebook { background: url("fairhead-icons/fc-webicon-facebook.svg"); }

/* Flickr */
.no-svg .fc-webicon.flickr { background: url("fairhead-icons/fc-webicon-flickr-m.png"); }
.no-svg .fc-webicon.flickr.large { background: url("fairhead-icons/fc-webicon-flickr.png"); }
.no-svg .fc-webicon.flickr.small { background: url("fairhead-icons/fc-webicon-flickr-s.png"); }
.svg .fc-webicon.flickr { background: url("fairhead-icons/fc-webicon-flickr.svg"); }

/* Github */
.no-svg .fc-webicon.github { background: url("fairhead-icons/fc-webicon-github-m.png"); }
.no-svg .fc-webicon.github.large { background: url("fairhead-icons/fc-webicon-github.png"); }
.no-svg .fc-webicon.github.small { background: url("fairhead-icons/fc-webicon-github-s.png"); }
.svg .fc-webicon.github { background: url("fairhead-icons/fc-webicon-github.svg"); }

/* Google+ */
.no-svg .fc-webicon.googleplus { background: url("fairhead-icons/fc-webicon-googleplus-m.png"); }
.no-svg .fc-webicon.googleplus.large { background: url("fairhead-icons/fc-webicon-googleplus.png"); }
.no-svg .fc-webicon.googleplus.small { background: url("fairhead-icons/fc-webicon-googleplus-s.png"); }
.svg .fc-webicon.googleplus { background: url("fairhead-icons/fc-webicon-googleplus.svg"); }

/* iCloud */
.no-svg .fc-webicon.icloud { background: url("fairhead-icons/fc-webicon-icloud-m.png"); }
.no-svg .fc-webicon.icloud.large { background: url("fairhead-icons/fc-webicon-icloud.png"); }
.no-svg .fc-webicon.icloud.small { background: url("fairhead-icons/fc-webicon-icloud-s.png"); }
.svg .fc-webicon.icloud { background: url("fairhead-icons/fc-webicon-icloud.svg"); }

/* LinkedIn */
.no-svg .fc-webicon.linkedin { background: url("fairhead-icons/fc-webicon-linkedin-m.png"); }
.no-svg .fc-webicon.linkedin.large { background: url("fairhead-icons/fc-webicon-linkedin.png"); }
.no-svg .fc-webicon.linkedin.small { background: url("fairhead-icons/fc-webicon-linkedin-s.png"); }
.svg .fc-webicon.linkedin { background: url("fairhead-icons/fc-webicon-linkedin.svg"); }

/* Mail */
.no-svg .fc-webicon.mail { background: url("fairhead-icons/fc-webicon-mail-m.png"); }
.no-svg .fc-webicon.mail.large { background: url("fairhead-icons/fc-webicon-mail.png"); }
.no-svg .fc-webicon.mail.small { background: url("fairhead-icons/fc-webicon-mail-s.png"); }
.svg .fc-webicon.mail { background: url("fairhead-icons/fc-webicon-mail.svg"); }

/* MSN */
.no-svg .fc-webicon.msn { background: url("fairhead-icons/fc-webicon-msn-m.png"); }
.no-svg .fc-webicon.msn.large { background: url("fairhead-icons/fc-webicon-msn.png"); }
.no-svg .fc-webicon.msn.small { background: url("fairhead-icons/fc-webicon-msn-s.png"); }
.svg .fc-webicon.msn { background: url("fairhead-icons/fc-webicon-msn.svg"); }

/* Pinterest */
.no-svg .fc-webicon.pinterest { background: url("fairhead-icons/fc-webicon-pinterest-m.png"); }
.no-svg .fc-webicon.pinterest.large { background: url("fairhead-icons/fc-webicon-pinterest.png"); }
.no-svg .fc-webicon.pinterest.small { background: url("fairhead-icons/fc-webicon-pinterest-s.png"); }
.svg .fc-webicon.pinterest { background: url("fairhead-icons/fc-webicon-pinterest.svg"); }

/* Rdio */
.no-svg .fc-webicon.rdio { background: url("fairhead-icons/fc-webicon-rdio-m.png"); }
.no-svg .fc-webicon.rdio.large { background: url("fairhead-icons/fc-webicon-rdio.png"); }
.no-svg .fc-webicon.rdio.small { background: url("fairhead-icons/fc-webicon-rdio-s.png"); }
.svg .fc-webicon.rdio { background: url("fairhead-icons/fc-webicon-rdio.svg"); }

/* RSS */
.no-svg .fc-webicon.rss { background: url("fairhead-icons/fc-webicon-rss-m.png"); }
.no-svg .fc-webicon.rss.large { background: url("fairhead-icons/fc-webicon-rss.png"); }
.no-svg .fc-webicon.rss.small { background: url("fairhead-icons/fc-webicon-rss-s.png"); }
.svg .fc-webicon.rss { background: url("fairhead-icons/fc-webicon-rss.svg"); }

/* Skitch */
.no-svg .fc-webicon.skitch { background: url("fairhead-icons/fc-webicon-skitch-m.png"); }
.no-svg .fc-webicon.skitch.large { background: url("fairhead-icons/fc-webicon-skitch.png"); }
.no-svg .fc-webicon.skitch.small { background: url("fairhead-icons/fc-webicon-skitch-s.png"); }
.svg .fc-webicon.skitch { background: url("fairhead-icons/fc-webicon-skitch.svg"); }

/* Skype */
.no-svg .fc-webicon.skype { background: url("fairhead-icons/fc-webicon-skype-m.png"); }
.no-svg .fc-webicon.skype.large { background: url("fairhead-icons/fc-webicon-skype.png"); }
.no-svg .fc-webicon.skype.small { background: url("fairhead-icons/fc-webicon-skype-s.png"); }
.svg .fc-webicon.skype { background: url("fairhead-icons/fc-webicon-skype.svg"); }

/* Spotify */
.no-svg .fc-webicon.spotify { background: url("fairhead-icons/fc-webicon-spotify-m.png"); }
.no-svg .fc-webicon.spotify.large { background: url("fairhead-icons/fc-webicon-spotify.png"); }
.no-svg .fc-webicon.spotify.small { background: url("fairhead-icons/fc-webicon-spotify-s.png"); }
.svg .fc-webicon.spotify { background: url("fairhead-icons/fc-webicon-spotify.svg"); }

/* StumbleUpon! */
.no-svg .fc-webicon.stumbleupon { background: url("fairhead-icons/fc-webicon-stumbleupon-m.png"); }
.no-svg .fc-webicon.stumbleupon.large { background: url("fairhead-icons/fc-webicon-stumbleupon.png"); }
.no-svg .fc-webicon.stumbleupon.small { background: url("fairhead-icons/fc-webicon-stumbleupon-s.png"); }
.svg .fc-webicon.stumbleupon { background: url("fairhead-icons/fc-webicon-stumbleupon.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("fairhead-icons/fc-webicon-twitter-m.png"); }
.no-svg .fc-webicon.twitter.large { background: url("fairhead-icons/fc-webicon-twitter.png"); }
.no-svg .fc-webicon.twitter.small { background: url("fairhead-icons/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("fairhead-icons/fc-webicon-twitter.svg"); }

/* Vimeo */
.no-svg .fc-webicon.vimeo { background: url("fairhead-icons/fc-webicon-vimeo-m.png"); }
.no-svg .fc-webicon.vimeo.large { background: url("fairhead-icons/fc-webicon-vimeo.png"); }
.no-svg .fc-webicon.vimeo.small { background: url("fairhead-icons/fc-webicon-vimeo-s.png"); }
.svg .fc-webicon.vimeo { background: url("fairhead-icons/fc-webicon-vimeo.svg"); }

/* YouTube */
.no-svg .fc-webicon.youtube { background: url("fairhead-icons/fc-webicon-youtube-m.png"); }
.no-svg .fc-webicon.youtube.large { background: url("fairhead-icons/fc-webicon-youtube.png"); }
.no-svg .fc-webicon.youtube.small { background: url("fairhead-icons/fc-webicon-youtube-s.png"); }
.svg .fc-webicon.youtube { background: url("fairhead-icons/fc-webicon-youtube.svg"); }

/* YouVersion */
.no-svg .fc-webicon.youversion { background: url("fairhead-icons/fc-webicon-youversion-m.png"); }
.no-svg .fc-webicon.youversion.large { background: url("fairhead-icons/fc-webicon-youversion.png"); }
.no-svg .fc-webicon.youversion.small { background: url("fairhead-icons/fc-webicon-youversion-s.png"); }
.svg .fc-webicon.youversion { background: url("fairhead-icons/fc-webicon-youversion.svg"); }

/* Zerply */
.no-svg .fc-webicon.zerply { background: url("fairhead-icons/fc-webicon-zerply-m.png"); }
.no-svg .fc-webicon.zerply.large { background: url("fairhead-icons/fc-webicon-zerply.png"); }
.no-svg .fc-webicon.zerply.small { background: url("fairhead-icons/fc-webicon-zerply-s.png"); }
.svg .fc-webicon.zerply { background: url("fairhead-icons/fc-webicon-zerply.svg"); }