/****************************
    Grid-y junk so you can see
    where stuff lives
****************************/

/* -----------------------------------------
   Shared Styles
   --These are little fixes that make foundation
   look even sexier
----------------------------------------- */
.glyph.sample{ font-size: 30px; font-size: 3.0rem;}


div.orbit-wrapper div.slider-nav span.left {
  background: url('../frameworks/foundation/images/foundation/orbit/left-arrow.png');
}
div.orbit-wrapper div.slider-nav span.right {
  background: url('../frameworks/foundation/images/foundation/orbit/right-arrow.png');
}

.logo{  vertical-align: bottom; }

#content { padding-right: 4%;}

table { width: 100%; }

.nav-bar {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-bar li.has-flyout > a.flyout-toggle {
  border-left: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 22px;
  z-index: 2;
  display: block;
}

.nav-bar .flyout .flyout{
  position: absolute;
  top: 0px;
  left: 245px;
}

.nav-bar li.has-flyout .has-flyout {
  position: relative;
}

/*  TESTING */

.nav-bar li.has-flyout > a:first-child {
  padding-right: 36px;
  position: relative;
}

.nav-bar li.has-flyout > a:first-child::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: #E6E6E6 transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 17px;
}

/* A little Slideshow styling */
.orbit .orbit-slide { background: #eef;}


/* -----------------------------------------
   Mobile Menu
----------------------------------------- */
@media only screen and (max-width: 767px) {

  #mobile-nav-trigger {
    background-color: #000;
    padding: 15px 0;
  }
  #mobile-nav-trigger a{ color: white; 
      margin: 13px 20px;
      font-size: 15px; 
      text-decoration: none;
  }
  #mobile-nav-trigger { color: white; }

  #mobile-nav-trigger #menu-link:before {
    content: "≡ ";
    font-weight: normal;
  }

  #mobile-nav {
    background-color: #000;
    top: 60px
  }

  #mobile-nav ul { margin-bottom: 0; }
  
  #mobile-nav li {
    margin-bottom: 2px;
    font-size: 16px;font-size: 1.6rem;
  }
  
  #mobile-nav li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    text-align: left;
  }
  
  #mobile-nav li { text-transform: uppercase;}
  #mobile-nav .close-reveal-modal {
    background: #666;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: .5;
    padding: 3px 5px 9px 5px;
    position: absolute;
    right: -10px;
    text-decoration: none;
    text-shadow: 0 -1px 1px rbga(0,0,0,.6);
    top: -10px;
  }  
  
}
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.80);
  opacity: 1!important;
}
